* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set body height to 100% of the viewport height */
}

nav {
    margin: 3vh 0px 0px 3vh;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 7vh;
}

nav a {
    font-family: 'Tektur', sans-serif;
    text-decoration: none;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(4vh, 4vw);
    font-weight: bold;
    color: white;
    opacity: 0;
    animation: fadeInLink 1s ease-out forwards;
}

main {
    flex: 1; 
    margin-top: 2vh;
    position: relative;
}

#intro {
    background-color: black;
    color: white;
    font-family: 'Tektur', sans-serif;
    font-size: min(2vh, 2vw);
    position: relative;
    width: 40vw;
    left: 6vw;
    top: 10vh;
}

#coding-background{
    background-color: black;
    color: white;
    font-family: 'Tektur', sans-serif;
    font-size: min(2vh, 2vw);
    position: relative;
    width: 40vw;
    left: 6vw;
    top: 15vh;
}

#hobbies{
    background-color: black;
    color: white;
    font-family: 'Tektur', sans-serif;
    font-size: min(2vh, 2vw);
    position: relative;
    width: 40vw;
    left: 6vw;
    top: 20vh;
}

#profilePic{
    opacity: 0;
    height: calc(min(50vh, 50vw) + 2vh);
    width: min(50vh, 50vw);
    border: 1vh solid rgba(245, 245, 245, 0.884);
}

#imageWrapper{
    position: absolute;
    left: 60vw;
    top: 10vh;
}

#btWrapper{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    opacity: 0;
}

button{
    width: 7vw;
    height: 5vh;
    font-family: 'Tektur', sans-serif;
    font-weight: bold;
    font-size: min(2vw, 2vh);
    border: min(0.5vh, 0.5vw) solid white;
    background-color: black;
    border-radius: min(5vh, 5vw);
    color: white;
}

button a{
    text-decoration: none;
    color: white;
}


@keyframes fadeInLink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav a:nth-child(1) {
    margin-top: 1vh;
    border-bottom: 1vh solid white;
    animation: fadeInLink 1.5s ease-out forwards 0.5s;
}

nav a:nth-child(2) {
    animation: fadeInLink 1.5s ease-out forwards 1.25s;
}

nav a:nth-child(3) {
    animation: fadeInLink 1.5s ease-out forwards 2s;
}
 

